* {
    box-sizing: border-box;
}

p {
    color: black;
}

html {
    scroll-behavior: smooth;
    background-color: yellowgreen;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 60px;
    color: black;
    font-size: 20px;
    background-color: white;
    border: 1px;
    border-style: solid;
}


nav{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0px 14px;
    height: 59px;
    font-family: monospace ;
    font-size: 30px ;
    
}

a{
    text-decoration: none;
    color: black;
}

img{
    height: 55px;
    margin-right: 10px;
}


main{
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-width: 350px;
    max-width: 1200px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px;
    border-style: solid;
}

section{
    background-color: linear-gradient(90deg,rgb(85, 84, 84), black);;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-family: 'Righteous';
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.articulo {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 20px;
  width: 12%;
  height: 210px;
  border: 1px solid #73AD21;
  padding: 10px;
}

footer {
    height: 60px;
    text-align: center;
    line-height: 60px;
}

footer hr {
    width: 95%;
}

#tablas {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editarBorrar{
    display:flex;
    flex-direction: column;
}

#editarBorrar h1{
    margin-left: 0px;
}

